@page
@model EmailCollector.Pages.ListModel

@{
    ViewData["Title"] = "操作系统实验一实验报告收集";
}

<h2>操作系统实验一实验报告收集</h2>

<p>
    请将实验报告发送至homework@class.huww98.cn。
</p>
<p>
    为了能让我的软件识别，请在邮件标题中包括“操作系统”、“实验一”，并在邮件标题、发件人名称或附件文件名中包括你的姓名。
</p>

<h2>当前收到文件</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email[0].FromAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email[0].SenderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email[0].AttachmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email[0].AttachmentSHA1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Email)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FromAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SenderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AttachmentName)
                </td>
                <td class="hash">
                    @BitConverter.ToString(item.AttachmentSHA1).Replace("-", "")
                </td>
            </tr>
        }
    </tbody>
</table>
